<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tank Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="tank-name">{{tank.name}}</h1>
    <h2 class="tank-level">Уровень: {{tank.level}}</h2>
    <h2 class="tank-country">Нация: {{tank.country}}</h2>
    <h2 class="tank-type">Тип: {{tank.type}}</h2>

    <div class="tank-details">
        <h3>Живучесть</h3>
        <ul>
            <li>Прочность: {{tank.specification.survival.hp}}</li>
            <li>Броня корпуса: {{tank.specification.survival.hull_armor}}</li>
            <li>Броня башни: {{tank.specification.survival.tower_armor}}</li>
        </ul>
    </div>

    <div class="tank-details">
        <h3>Огневая мощь</h3>
        {% for item in tank.specification.firepower.tank_guns %}
            <ul>
                <li>Орудие: {{item.name}}</li>
                {% if item.shell_count %}
                <li>Снарядов в барабане: {{item.shell_count}}</li>
                {% endif %}
                <li>Урон: {{item.alpha}}</li>
                <li>Пробитие: {{item.penetration}}</li>
                <li>Тип снаряда: {{item.shell_type}}</li>
                <li>Перезарядка: {{item.reload}}</li>
                <li>ДПМ: {{item.dpm}}</li>
                {% if item.inside_reload %}
                <li>Перезарядка внутри барабана: {{item.inside_reload}}</li>
                {% endif %}
                {% if item.autoreload %}
                <li>Дозарядка: {{item.autoreload}}</li>
                {% endif %}
                <li>Разброс: {{item.spread}}</li>
                <li>Время сведения: {{item.reduction_time}}</li>
                <li>УВН: {{item.elevation_vertical_angles}}</li>
                <li>УГН: {{item.elevation_horizontal_angles}}</li>
            </ul>
        {% endfor %}
    </div>

    <div class="tank-details">
        <h3>Мобильность</h3>
        <ul>
            <li>Масса: {{tank.specification.mobility.weight}}</li>
            <li>Мощность двигателя: {{tank.specification.mobility.power}}</li>
            <li>Удельная мощность: {{tank.specification.mobility.specific_power}}</li>
            <li>Максимальная скорость: {{tank.specification.mobility.max_forward_speed}} / {{tank.specification.mobility.max_backward_speed}}</li>
            <li>Скорость поворота шасси: {{tank.specification.mobility.rotation_speed}}</li>
            <li>Скорость поворота башни: {{tank.specification.mobility.tower_rotation_speed}}</li>
        </ul>
    </div>

    <div class="tank-details">
        <h3>Наблюдение</h3>
        <ul>
            <li>Обзор: {{tank.specification.vision.vision_range}}</li>
            <li>Дальность радиостанции: {{tank.specification.vision.communication_range}}</li>
        </ul>
    </div>

<!--    <div class="tank-details">-->
<!--        <h2>Скрытность</h2>-->
<!--        <ul>-->
<!--            <li>На месте: {{tank.specification.stealth.standing_stealth}}</li>-->
<!--            <li>В движении: {{tank.specification.stealth.moving_stealth}}</li>-->
<!--        </ul>-->
<!--    </div>-->
</div>
</body>
</html>
